body {
    height: 100%;
    background-color: #202020;
    font-family: monospace;
    color: #00eb4c;
}

.wrapper {
      height: 100%;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

      justify-content: center;
      align-items: center;
}

.maindiv {
    max-width: 50%;
    padding: 10px;
}

.linksdiv {
    margin: auto;
    width: 50%;
}

.linksdiv a {
    font-size: 16px;
    text-decoration: none;
    padding-right: 20px;
    color: #00eb4c;
 }

  .linksdiv a:visited {
    text-decoration: none;
    color: #00eb4c;
 }

#mytable {
    font-size: 16px;
}

#mytable a {
    font-size: 16px;
    text-decoration: none;
    padding-right: 10px;
    color: #00eb4c;
 }

 #mytable a:visited {
    text-decoration: none;
    color: #00eb4c;
 }

 #mytable a:hover {
    text-decoration: underline;
 }
