<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/design.css}">
</head>
<body>
<script type="text/javascript">
        var toggleTable = function() {
            var mytable = document.getElementById("mytable")

            if (mytable.style.visibility == "collapse") {
                mytable.style.visibility = "visible";
            } else {
                mytable.style.visibility = "collapse";
            }
        }

        var linkHoverEffect = function(element) {
            element.innerHTML = element.innerHTML.replace("-", "[");
            element.innerHTML = element.innerHTML.replace("-", "]");
        }

        var defaultText = function(element) {
            element.innerHTML = element.innerHTML.replace("[", "-");
            element.innerHTML = element.innerHTML.replace("]", "-");
        }
    </script>
    <div class="wrapper">
        <br />
        <div class="maindiv">
            <h1 th:text="${welcome}"/>
            <div class="linksdiv">
                <a id="projects" href="#" onclick=toggleTable() onmouseover=linkHoverEffect(document.getElementById("projects")) onmouseout=defaultText(document.getElementById("projects"))>-projects-</a>
                <a id="email" th:href="'mailto:' + ${email}" onmouseover=linkHoverEffect(document.getElementById("email")) onmouseout=defaultText(document.getElementById("email"))>-email_me-</a>
            </div>
            <br />
            <table>
                <tbody id="mytable" style="visibility:collapse">
                <th:block th:each="project: ${projects}">
                    <tr>
                        <td th:text="${project.name}" style="padding-right:25px;"/>
                        <td><a th:href="${project.appUrl}">App</a></td>
                        <td><a th:href="${project.sourceUrl}">Source</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br />
        </div>
    </div>
</body>
</html>