<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/design.css}">
</head>
<body onload=greetingTextEffect()>
<script type="text/javascript">
    var getRandomNumber = function(min, max) {
        return Math.random() * (max - min) + min;
    }

    // sleep time expects milliseconds
    var sleep = function(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    var greetingTextEffect = async function() {
        var linksElement = document.getElementById("mylinks");
        linksElement.style.visibility = "collapse";

        var welcomeElement = document.getElementById("welcome");
        var welcomeText = welcomeElement.innerHTML;

        //console.log(welcomeText);
        try {
            if (true) {
                welcomeElement.innerHTML = "|";
                await sleep(1000);

                for (const c of welcomeText) {
                    welcomeElement.innerHTML = welcomeElement.innerHTML.replace("|", "");
                    welcomeElement.innerHTML += c + "|";

                    var randomTypoNum = getRandomNumber(7, 12);
                    if ((welcomeElement.innerHTML.length % 12) == 0) {
                        var randomChar = String.fromCharCode(getRandomNumber(1, 26) + 96);

                        welcomeElement.innerHTML = welcomeElement.innerHTML.replace("|", "");
                        welcomeElement.innerHTML += randomChar + "|";

                        await sleep(getRandomNumber(60, 140));

                        welcomeElement.innerHTML = welcomeElement.innerHTML.replace("|", "");
                        welcomeElement.innerHTML = welcomeElement.innerHTML.slice(0, -1) + "|";
                    }
                    await sleep(getRandomNumber(90, 175));
                }

                setCookie(30);
            }
        } catch (err) {

        } finally {
            linksElement.style.visibility = "visible";
            blinkCursorEffect(welcomeElement);
        }
    }

    var blinkCursorEffect = async function(welcomeElement) {
        while (true) {
            welcomeElement.innerHTML = welcomeElement.innerHTML.slice(0, -1) + "_";
            await sleep(1250);

            welcomeElement.innerHTML = welcomeElement.innerHTML.slice(0, -1) + "|";
            await sleep(1250);
        }
    }

    var toggleTable = function() {
        var mytable = document.getElementById("mytable")

        if (mytable.style.visibility == "collapse") {
            mytable.style.visibility = "visible";
        } else {
            mytable.style.visibility = "collapse";
        }
    }

    var linkHoverEffect = function(element) {
        element.innerHTML = element.innerHTML.replace("-", "[");
        element.innerHTML = element.innerHTML.replace("-", "]");
    }

    var defaultText = function(element) {
        element.innerHTML = element.innerHTML.replace("[", "-");
        element.innerHTML = element.innerHTML.replace("]", "-");
    }

    var dateInPast = function(firstDate, secondDate) {
      if(firstDate.setHours(0,0,0,0) <= secondDate.setHours(0,0,0,0)) {
        return true;
      }

      return false;
    }

    // enter some javascript here and it will run
    // on every page on this domain (location.host)
    var setCookie = function(exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = expires + ";path=/";
    }

    var getCookie = function(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }

            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }

        return "";
    }

    var checkCookie = function() {
        var expires = getCookie("expires");
        if (expires != "" || expires != null) {
            return false;
        }

        expires = Date.parse(expires);
        if (dateInPast(expires, new Date())) {
            return false;
        }

        return true;
    }
</script>
    <div class="wrapper">
        <br />
        <div class="maindiv">
            <h1 id="welcome" th:text="${welcome}"/>
            <div id="mylinks" class="linksdiv">
                <a id="projects" href="#" onclick=toggleTable() onmouseover=linkHoverEffect(document.getElementById("projects")) onmouseout=defaultText(document.getElementById("projects"))>-projects-</a>
                <a id="email" th:href="'mailto:' + ${email}" onmouseover=linkHoverEffect(document.getElementById("email")) onmouseout=defaultText(document.getElementById("email"))>-email_me-</a>
            </div>
            <br />
            <table>
                <tbody id="mytable" style="visibility:collapse">
                <th:block th:each="project: ${projects}">
                    <tr>
                        <td th:text="${project.name}" style="padding-right:25px;"/>
                        <td><a th:href="${project.appUrl}">App</a></td>
                        <td><a th:href="${project.sourceUrl}">Source</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br />
        </div>
    </div>
</body>
</html>